/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 

 #derailed-nav {
   position: fixed;
   top: 0;
   width: 100%;
   
 }

 img {
    max-width: 100%;
 }

 .post-feed {
   background-color: white;
   margin-bottom: 15px;
   max-width: 45vw;
   width: 30vw;
   border-radius: 12px;
   
 }

 body {
     background-color: #edf1f3;
     
     
 }

 .user-features {
     margin-top: 15px;
 }

 .pic-image{
     margin-bottom: 7px;
 }

 .time-ago, .view-all-com {
     color: #999;
     font-size: 10px;
 }

 .post-username {
    font-family: 'Source Sans Pro', sans-serif;
 }

 .like-feat {
     font-weight: 200;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .caption-text {
    font-weight: 400;
     font-family: 'Source Sans Pro', sans-serif; 
 }
 


 i {
     margin-right: 4px;
     
 }


 .far {
     font-size: larger;
     
 }

 .del-link{
    font-size: small;
    color: #999;
    display: flex;
    justify-content: flex-end;
 }

 .like-link, .comment-link {
    color: #393e46;
 }

 .like-link:hover, .comment-link:hover {
    color: #5aa897;
 }

 .del-link:hover {
     color: tomato;
}

 main {
   margin-top: 80px;
 }
 
 footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  font-family: 'Play', sans-serif;

  background-color: white;
}

