#new_post_message{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-style: none;
}

#new_post_user_icon img{
  width:100%;
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  position: absolute;
  margin-top: 30%;
}

#new_post_user_icon{
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

#Post_picture{
  width: 70%;
}

#new_post_submit{
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: .3rem;
  color: #fff;
  border-style: none;
  width: 32%;
  height: 33px;
  position: absolute;
  right: 24px;

}

#new_post_submit:hover{
  background-color: #095fdf;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}

.custom-file-input::before {
  content: 'Add photo';
  display: inline-block;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: .3rem;
  width: 100%;
  height: 33px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 3px;
}
.custom-file-input:hover::before {
  background-color: #095fdf;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
}

#new_post_img_prev {
  height: 30px;
  width: auto;
  margin-left: -50px;
}

#new_post_bar{
  position: relative;
}