.signupBox {
    border-style: none;
    width: 800px;
    height: 500px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 180px;
    margin-bottom: auto;
    padding: 10px;
    box-shadow: 4px 4px 10px 4px #888888;
}

.signupLeft{
position: absolute;
left: 30px;
width: 60%;
margin-top: 20px;
}

.signupRight{
position: absolute;
right: 30px;
width: 30%;
text-align: center;
margin-top: 120px;
}

.signupEntry{
margin-bottom: 5px;
}

.signupButton{
background-color: #1778f2;
}

#signupTitle{
margin-left: 30px;
margin-top: 50px;
}

#img_prev{
position: absolute;
height: 100px;
width: auto;
max-width: 157px;
left: 310px;
bottom: 1px;
}

#signUpDisplayPic{
width: 60%;
}

.profile-window {
    background-color: white;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    
    box-shadow: rgba(86, 162, 250, 0.4) 0px 5px, rgba(86, 162, 250, 0.3) 0px 10px, rgba(86, 162, 250, 0.2) 0px 15px, rgba(86, 162, 250, 0.1) 0px 20px, rgba(86, 162, 250, 0.05) 0px 25px;
    max-width: 450px;
    
  }

.profile-window img{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-right: 0;
}

.profile-window-names{
    line-height: 30px;
    padding-top: 15px;
}

.profile-window-names h6 {
    color: #62d1b6;
}

.profile-details h6{
    color: #62d1b6;
}

.right-col{
    padding: 0%;
}

.edit-button{
    display: flex;
    justify-content: right; 
    text-decoration: none;
}




